{{define "ROOT"}}<!DOCTYPE html><html lang="en-US">
<head> 
  <meta charset="utf-8" />
  <meta http-equiv="Content-Language" content="en-US">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="noindex, nofollow">
  <link rel="stylesheet" href="{{staticFile "bootstrap.min.css"}}">
  <title>Program and Training Conference</title>
</head>
<body>
<div class="container my-4">
  Visit our public website at <a href="https://seattlebsa.org/ptc">Program &amp; Training Conference</a>.
</body>
</html>
{{end}}
