{{define "title"}}PTC: Danger Zone{{end}}
{{define "body"}}{{with $.Data}}

{{template "refreshClassesButton" $}}

<form class="form-inline mb-3" action="/dashboard/rebuild-catalog" class="form-inline" method="post">
   {{$.XSRFToken "/dashboard/rebuild-catalog"}}
  <input type="hidden" name="_ref" value="{{$.Request.URL.RequestURI}}">
  <div>
  <button type="submit" class="btn btn-outline-secondary">Rebuild catalog</button>
  </div>
  {{if .DevMode}}
    <small class="ml-3 text-muted">
      Add ?build to catalog page URLs to force build on view.
      Example: <a href="/catalog/?build">/catalog/?build</a>.
    </small>
  {{end}}
</form>

<form class="form-inline mb-3" action="/dashboard/upload-registrations" enctype="multipart/form-data" method="POST">
  {{$.XSRFToken "/dashboard/upload-registrations"}}
  <input type="hidden" name="_ref" value="{{$.Request.URL.RequestURI}}">
  <div class="input-group form-group">
    <div class="custom-file">
      <input type="file" id="file" name="file" class="custom-file-input" required>
      <label class="custom-file-label form-control mr-2" for="file">Choose File</label>
    </div>
    <div class="input-group-append">
      <button type="submit" class="input-group-text">Upload Registrations</button>
    </div>
  </div>
</form>

<p><b>Edit:</b> <a href="/dashboard/conference">Conference</a>

<p><b>Forms:</b> <a href="/dashboard/reprint-forms">Reprint</a>
  {{if .DevMode}}
    | <a href="/dashboard/forms/debug-first">Debug First</a>
    | <a href="/dashboard/forms/debug-last">Debug Last</a>
  {{end}}

{{end}}{{end}}
