{{define "title"}}PTC: Classes{{end}}
{{define "body"}}
  <h3>Classes</h3>
  <p>
  <table class="table table-sm table-hover smaller-text mb-3">
   <thead>
      <tr>
        <th>{{$.Sort "Name" "!number"}}</th>
        <th>{{$.Sort "Location" "location"}}</th>
        <th>Session</th>
        <th>Lunch</th>
        {{if $.IsStaff}}<th title="Responsibility">{{$.Sort "Resp" "responsibility"}}</th>{{end}}
        <th class="text-right" title="Capacity">{{$.Sort "Cap" "capacity"}}</th>
        <th class="text-right" title="Registered">{{$.Sort "Reg" "registered"}}</th>
        <th class="text-right" title="Available">{{$.Sort "Avail" "available"}}</th>
      </tr>
    <tbody>
    {{range .Data.Classes -}}
      <tr>
        <td><a href="/dashboard/classes/{{.Number}}">{{.Number}}</a>: {{.ShortTitle}}</td>
        <td class="text-nowrap">{{.Location}}</td>
        <td>{{add .Start 1}}{{if gt .Length 1}} &ndash; {{add .Start .Length}}{{end}}</td>
        {{with call $.Data.Lunch .}}<td class="text-nowrap" title="{{.Name}}">{{.ShortName}}</td>{{else}}<td></td>{{end}}
        {{if $.IsStaff}}<td class="text-nowrap" title="{{.Responsibility}}">{{truncate .Responsibility 6}}</td>{{end}}
        <td class="text-right">{{if lt 0 .Capacity}}{{.Capacity}}{{end}}</td>
        <td class="text-right">{{call $.Data.Registered .}}</td>
        <td class="text-right">{{call $.Data.Available .}}</td>
      </tr>
    {{end}}
    </tbody>
  </table>

  {{template "refreshClassesButton" $}}
{{end}}
