{{define "title"}}PTC: Conference{{end}}
{{define "body"}}{{with $.Data}}
<h3>Conference</h3>

{{if .Invalid}}<div class="alert alert-danger" role="alert"><strong>Eek!</strong> Fix the errors noted below and try again. </div>{{end}}

<form method="POST" class="mb-3">
  {{$.XSRFToken $.Request.URL.Path}}

  <div class="form-group">
    <label>Year / Month / Day</label>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control{{isInvalid .Invalid "year"}}" placeholder="Year" name="year" value="{{.Form.Get "year"}}">
      </div>
      <div class="col">
        <input type="text" class="form-control{{isInvalid .Invalid "month"}}" placeholder="Month" name="month" value="{{.Form.Get "month"}}">
      </div>
      <div class="col">
        <input type="text" class="form-control{{isInvalid .Invalid "day "}}" placeholder="Day" name="day" value="{{.Form.Get "day"}}">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Registration URL</label>
    <input type="text" class="form-control" name="registrationURL" value="{{.Conference.RegistrationURL}}">
  </div>

  <div class="form-group">
    <label>Catalog status message</label>
    <input type="text" class="form-control" name="catalogStatusMessage" value="{{.Conference.CatalogStatusMessage}}">
  </div>

  <div class="form-group">
    <label>No Class Description</label>
    <textarea class="form-control" name="noClassDescription" rows="3">{{.Conference.NoClassDescription}}</textarea>
    <small class="form-text text-muted">First line is title, remaining lines are description.</small>
  </div>

  <div class="form-group">
    <label>OA Banquet Description</label>
    <textarea class="form-control" name="oaBanquetDescription" rows="3">{{.Conference.OABanquetDescription}}</textarea>
    <small class="form-text text-muted">First line is title, remaining lines are description.</small>
  </div>

  <div class="form-group">
    <label>Lunches</label>
    <textarea class="form-control{{isInvalid .Invalid "lunches"}}" name="lunches" rows="12">{{.Form.Get "lunches"}}</textarea>
    <div class="invalid-feedback">{{index .Invalid "lunches"}}</div>
  </div>

  <button type="submit" name="submit" value="submit" class="btn btn-primary">Submit</button>
  <a class="btn btn-secondary" href="/dashboard/admin">Cancel</a>
</form>
{{end}}{{end}}
