{{define "title"}}PTC: Fetch Registrations{{end}}
{{define "body"}}{{with $.Data}}
<h3>Fetch Registrations</h3>

{{if .Invalid}}<div class="alert alert-danger" role="alert"><strong>Eek!</strong> Fix the errors noted below and try again. </div>{{end}}
{{if .Err}}<div class="alert alert-danger" role="alert">Error fetching registrations: {{.Err}}</div>{{end}}

<form method="POST" class="mb-3" action="{{$.Request.URL.Path}}">
  {{$.XSRFToken $.Request.URL.Path}}

  <div class="form-group">
    <label>Registration URL</label>
    <input type="text" class="form-control{{isInvalid .Invalid "url"}}" name="url" value="{{$.Request.FormValue "url"}}">
  </div>

  <button type="submit" name="submit" value="submit" class="btn btn-primary">Submit</button>
  <a class="btn btn-secondary" href="/dashboard/admin">Cancel</a>
</form>
{{end}}{{end}}
